@model Expert
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-left:300px;margin-top:100px">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <input class="form-control" id="customFile" asp-for="Photo" />
        <span class="text-danger" asp-validation-for="Photo"></span><br />
        <label>FullNam:</label>
        <input class="form-control" asp-for="FullName"></input>
        <span class="text-danger" asp-validation-for="FullName"></span><br />
        <label>Position:</label>
        <input class="form-control" asp-for="Position"></input>
        <span class="text-danger" asp-validation-for="Position"></span><br />
        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>


