@model Blog
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-left:300px;margin-top:100px">
    <div class="slider-content">
        <img src="~/img/@Model.Image" />
    </div>
    <form asp-action="Edit" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
        <input class="form-control" id="customFile" asp-for="Photo" />
        <span asp-validation-for="Photo"></span>
        <input class="form-control" id="customFile" asp-for="Header" />
        <span asp-validation-for="Header"></span>
        <input class="form-control" id="customFile" asp-for="Description" />
        <span asp-validation-for="Description"></span>
        <input class="form-control" asp-for="Date" />
        <span asp-validation-for="Date"></span>
        <div class="buttons my-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>
    </form>

</div>

